[Unit]
 Description=Max7219 LED Clock Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python /home/pi/hooks2/clock.py > /home/pi/hooks2/clock.log 2>&1

 [Install]
 WantedBy=multi-user.target
